@import "../mixins";
@import "../variables.scss";

.table{
    position: absolute;
    top: $header-height + $formula-height + $toolbar-height;
    left: 0;
    right: 0;
    overflow-x: auto;
    color: #888;
    padding-bottom: 2px;
    .row{
        position: relative;
        display: flex;
        flex-flow: row;
        min-height: 20px;
        height: $row-height;
    }
    .row-info{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border:1px solid $border-color;
        border-top: none;
        background: #f8f9f2;
    }
    .row-data{
        display: flex;
    }
    .column{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;    
        background: #f8f9f2;
        min-width: 40px;
        width:$cell-width;
        border:1px solid $border-color;
        height: 100%;
        border-top:none;
        border-left: none;
    }

    .col-resize, .row-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $success;
        opacity: 0;
        z-index: 1000;
    
        &:hover {
          opacity: 1!important;
        }
      }
    .col-resize{
        top: 0;
        width: 4px;
        &:hover{
            cursor: col-resize;
        }
    }
    .row-resize{
        left:0;
        height: 4px;
        &:hover{
            cursor: row-resize;
        }
    }
    .cell{
        min-width: 40px;    
        padding: 5px;
        width:$cell-width;
        height: 100%;
        border:1px solid #e2e3e3;
        border-top:none;
        border-left: none;
        color: #111;
        white-space: nowrap;
        outline: none;
    }
    .selected{
        border: none;
        outline: 2px solid $success;
        position: relative;
    }
    .selection-resize-btn{
        right: 0;
        bottom: 0;
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        margin-right: -4px;
        margin-bottom: -4px;
        z-index: 1000;
        background: $success;
        cursor: se-resize;
        border: 1px solid white;
        caret-color: transparent;
    }
    .preselect-group{
        background-color: purple;
    }
}